<mat-card class="card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Latest projects</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="2:1">
            @for (tile of projects; track tile) {
                <mat-grid-tile>{{tile.text}}</mat-grid-tile>
              }
        </mat-grid-list>          
    </mat-card-content>
    <mat-card-footer class="card-footer">
    <button mat-fab (click)="createProject.emit()">
        <mat-icon>add</mat-icon>
    </button>
    </mat-card-footer>
  </mat-card>  