<main class="main">
    <div class="tasks-container">
      <h1>Tasks</h1>
      <div class="content">
        <p>Manage the tasks related to ISSUE_NAME of the {{project?.name}} project</p>
        <p>Issue description</p>
      </div>
  
      <button mat-raised-button color="primary" (click)="openCreateTaskDialog()">Add Task</button>
  
      <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Issue tasks</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile *ngFor="let task of tasks; trackBy: trackById" (click)="onTileClick(task)">
              {{task.name}}, {{task.id}}
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
        <mat-card-footer class="card-footer">
        </mat-card-footer>
      </mat-card>
  
      <button class="back-dashboard-btn" (click)="goBack()">Back</button>
    </div>
  </main>