:host {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin: 2rem;
  }

/* :host ::ng-deep app-projects-card{
    color:orange;
    width: 40%;
  } */

mat-divider
{
    margin-inline: 2rem;
}

section > :first-child
{
    padding-bottom: 1rem;
}