<main class="main">
    <div class="project-container">
        <!-- Project Info -->
        <div class="content">
            <h1>Project - {{project.text}}</h1>
            <p>Welcome to the {{project.text}} project</p>
            <p>{{project.description}}</p>
        </div>

        <!-- Navigation Bar for Sections -->
        <nav class="project-nav">
            <ul>
                <li><a>Besoins</a></li>
                <li><a>Tâches</a></li>
                <li><a>Documentation</a></li>
                <li><a>Release</a></li>
                <li><a>Sprints</a></li>
            </ul>
        </nav>
    </div>
</main>
