<div class="wrapper">
  <div class="container">
    <h2>Login</h2>

    <!-- Login Form -->
    <form (ngSubmit)="onLogin()">
      <div>

        <input type="email" placeholder="email" id="email" [(ngModel)]="username" name="email" required>
      </div>

      <div>

        <input type="password" placeholder="password" id="password" [(ngModel)]="password" name="password" required>
      </div>

      <button type="submit">Login</button>
    </form>

    <!-- Error Message -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <br>
    <p>Don't have an account? <a class="link" (click)="goToRegister()">Register</a></p>
  </div>
</div>
