<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Project Dashboard</h1>
  <ul>
    <th:block th:each="project, iterStat : ${projects}">
      <li>
        <span th:text="${project.name}"></span>
        <!--TODO: Fix view and edit buttons:-->
        <!-- View Button -->
        <button class="view" style="margin-left: 5px;">View</button>
        <!-- Edit Button -->
        <button class="edit" style="margin-left: 5px;">Edit</button>
        <!-- Delete Button -->
        <form th:action="@{/projects/delete/__${iterStat.index}__}" method="post" style="display:inline;">
          <button class="del" type="submit" style="margin-left: 5px;">Delete</button>
        </form>
      </li>
    </th:block>
  </ul>
  <button onclick="location.href='/projects/addProject'">Create Project</button>
</body>
</html>
