.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66%;
    padding : 10px;
    margin: 0 auto;
}

* {
    margin : 0;
    text-align: center;
}


button {
    padding: 10px 15px;
    font-size: 1rem;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.projectdetails {
    flex: 1;
    margin-right: 20px;
    border: 1px solid #000;
    background-color: #f0f0f0;
}