<h2 mat-dialog-title>Name your Task</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Task name</mat-label>
    <input matInput [(ngModel)]="data.taskName" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Task Description</mat-label>
    <input matInput [(ngModel)]="data.taskDescription" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Task id</mat-label>
    <input matInput [(ngModel)]="data.taskId" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  <!-- <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button> -->
</mat-dialog-actions>
